.banner6 .col-lg-12 {
  /*padding: 1rem;*/
}

.banner6 .container {
  padding: 2rem;
}

html, body {
  background: #3c1d08 url('../../assets/img/kiss.jpg') no-repeat;
  background-color: rgb(60, 29, 8);
  /*background-position-x: 50%;*/
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../assets/img/kiss.jpg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  /*text-align: left;*/
  max-width: 100%;
  font-family: Georgia, serif;
  line-height: 1.4;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  background: radial-gradient(ellipse at center, rgba(249,249,249,1) 0%,rgba(250,223,154,0.4) 100%);
  border-color: rgba(250,223,154,0.3);
  border-style: solid;
}

h1, h2, h3, h4 {
  color: #724;
  font-family: 'Ultra', 'Arial Black', serif;
}

h1 {
  text-align: center;
  padding-bottom: 60px;
  font-family: cursive;
  background: url('../../assets/img/heart-and-lips.png') no-repeat 50% -9%;
}

input, select {
  background-color: rgba(234,202,181,0.61) !important;
  border: 1px #b15e23 solid!important;
}

.row div {
  margin-bottom: 1rem;
}

.card-body {
  padding: 2rem;
}

label {
  width: 100%;
  color: #482409;
}

.dob .row label {
  font-size: 14px;
  /*color: #3e4555;*/
}

.btn {
  min-width: 7rem;
  margin-left: 1rem !important;
  color: #fff;
}

.p-button {
  text-align: right;
  color: #ffff;
}
.hidden{
  display: none;
}